body {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}


.container {
  max-width: 1500px;
}

.pricing-header {
  max-width: 700px;
}

.logo{
    margin: auto;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    color :#FFFFFF;
    Background-color: #59BA5A;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
element.style {
display: flex;
justify-content: space-between;
}
.add-connection {

border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.contact-us {
border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.box {
       display: flex;
       flex-direction: row-reverse;
        }

 #button-profile{
         display: flex;
         justify-content: space-between;
               flex-direction: row-reverse;

        }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#logo-register {
  margin: auto;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    color :#FFFFFF;
    Background-color: #59BA5A;
}


