body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 1500px;
}

.pricing-header {
  max-width: 700px;
}

.logo{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    color :#FFFFFF;
    Background-color: #59BA5A;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
element.style {
display: flex;
justify-content: space-between;
}
.add-connection {

border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.contact-us {
border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}



